/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	vertical-align: top;
	font-size: 100%;
}

html {
	font-size: 16px;
}

body {
	color: #000000;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
}

ul {
	list-style: none;
}

a {
	color: #00216c;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after{
	display:table;
	content:"";
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

/* Code Here */

body{
    display: flex;
    flex-direction: row;
}

.navbar_side{
    width: 335px;
	height: 100%;
	max-width: 350px;
	min-width: 315px;
	border-right: 2px solid #444444;
	padding-top: 50px;
	display: grid;
	gap: 50px;
	grid-template-rows: min-content min-content;
	position: fixed;
	z-index: 1;
  	top: 0;
  	left: 0;
	overflow-x: hidden;
}

.navbar_side_upper{
	display: grid;
	gap: 38px;
	grid-template-columns: max-content max-content;
	align-items: center;
	justify-content: center;
}

.navbar_side_menu{
	margin-left: 32px;
	display: grid;
	row-gap: 45px;
	column-gap: 15px;
	grid-template-rows: 30px 30px 30px 30px 30px 30px;
	grid-template-columns: max-content max-content;
	align-content: center;
}

.bg_menu{
	background: linear-gradient(#A7102D, #A7102D);
	background-repeat: no-repeat;
	background-size: auto 57px;
    background-position: 0 225px;
	padding-top: 13px;
}

.navbar_side_menu a{
	text-align: center;
}

.navbar_side p{
	text-align: left;
}

.menu_home{
	/* margin-left: 32px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.menu_achievement{
	/* margin-left: 32px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
    font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.menu_ranking{
	/* margin-left: 32px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.menu_redeem{
	/* margin-left: 32px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
    font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.menu_awardee{
	/* margin-left: 36px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.menu_faq{
	/* margin-left: 32px;
	display: grid;
	gap: 15px;
	grid-template-columns: max-content max-content;
	justify-items: center; */
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.navbar_side_menu a{
	text-decoration: none;
}

.navbar_side p{
	margin-bottom: 0px;
}

.content_side{
    width: 100%;
	margin-left: 335px;
}

.navbar_head{
	height: 76px;
	background-color: #D3122B;
	padding-left: 28px;
	padding-right: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.date_time{
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 22px;
	column-gap: 50px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}

.date{
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 22px;
	column-gap: 15px;
	align-content: center;
}

.time{
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 22px;
	column-gap: 15px;
	align-content: center;
}

.button_head{
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 42px;
	column-gap: 15px;
}

.content{
	padding-left: 28px;
	padding-right: 32px;
	padding-top: 45px;
	padding-bottom: 50px;
	color: #000000;
}

.navbar_head p{
	margin-bottom: 0px;
}

/* Code Content Here */
.page-item.active .page-link{
	background-color: #A7102D !important;
	color: #ffffff !important;
	font-weight: 600;
	border: none !important;
}

.page-item.disabled .page-link{
	background-color: #E2E2E2 !important;
	color: #000000 !important;
}

.page-item .page-link{
	border: 2px solid #444444 !important;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000 !important;
	padding-left: 35px;
	padding-right: 35px;
}

.pagination{
	display: grid !important;
	grid-template-columns: max-content max-content;
	column-gap: 20px;
	margin-bottom: 30PX;
}

.page-link{
	border-top-right-radius: 50px !important;
	border-top-left-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
	font-size: 14px;
}

.group_info{
	display: flex;
	justify-content: space-between;
}

.info_coin, .info_expired, .info_statusemp{
	width: 31%;
	height: 81px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FBFBFB;
	border-radius: 5px;
	box-shadow: -2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.info_coin p, .info_expired p, .info_statusemp p{
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 500;
}

.info_coin p:nth-of-type(2), .info_expired p:nth-of-type(2), .info_statusemp p:nth-of-type(2){
	font-weight: 700;
	font-size: 26px;
}

.info_coin{
	background-image: url("../images/bg_coin.png");
	background-repeat: no-repeat;
	background-position: 11px;
}

.info_expired{
	background-image: url("../images/bg_date.png");
	background-repeat: no-repeat;
	background-position: 10px;
}

.info_statusemp{
	background-image: url("../images/bg_status.png");
	background-repeat: no-repeat;
	background-position: 13px;
}

h2{
	font-size: 28px !important;
	font-weight: 600;
}

.title_prize{
	display: flex;
	justify-content: space-between;
	height: fit-content;
	margin-top: 40px;
	margin-bottom: 25px
}

.info_prize{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info_prize p{
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 600;
}

.info_prize p:nth-of-type(1){
	margin-right: 30px;
}


.reg_prize{
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 5px;
}

.pre_prize{
	width: 15px;
	height: 15px;
	background-color: #181818;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-right: 5px;
}

.button_redeem{
    width: 100%;
    height: 29px;

    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;

    border-radius: 50px;
    border: none;
    background-color: #D3122B;
}

.card-title{
	font-size: 18px;
}

.card-text{
	font-size: 16px;
}

.card img{
	height: 134px;
	border-right: 1px solid #444444;
}

.card{
	border-color: #444444 !important;
}

.group_card{
	display: flex;
	justify-content: space-between;
}

.group_card{
	margin-bottom: 15px;
}

.reward_disable .title_prize{
	margin-top: 70px;
}

.button_disable{
	background-color: #C7C7C7;
	color: #858585;
}

button:disabled {
	cursor: not-allowed;
}

.premium{
	color: #ffffff;
	background-color: #181818;
}

.reward_disable .group_card:nth-of-type(5){
	justify-content: start;
	gap: 28px;
	margin-bottom: 0px;
}

/* .card{
	height: 136px;
} */
